MONGO_URI = mongodb://localhost:27017/facial-recognition
JWT_SECRET = THIS_IS_A_SECRET_KEY

ADMIN_PROFILE_IMAGE = https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png
ADMIN_EMAIL = admin@gmail.com
ADMIN_PASSWORD = Admin@123

ADMIN_ORIGINAL_EMAIL = admin_original_email 

EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL = email
PASS = email_pass